
  body  
  {
    padding-left: 15em;
    font-family: Georgia, "Times New Roman", Times, serif;

    color: black;
    background-color: #AED6F1 }

    ul.navbar
     {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 2em;
      left: 1em;
      width: 9em 
    }


    h1.primero {text-align: center}
    h1 {
      text-align: center
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif margen inferior : 0 px ;
      tamaño de letra : 50 px ;
       }
    h2{
           margin-top: 0px;
           font-size: 25px;
          margin-bottom: 0px;
          color: white;
       }

       ul.navbar li {
        background: white;
        margin: 0.5em 0;
        padding: 0.3em;
        border-right: 1em solid white }
        ul.navbar a {
          text-decoration: none }
            a:link {
                color: blue }
            a:visited {
                color: purple }

    address {
        margin-top: 1em;
        padding-top: 1em;
        border-top: thin dotted }

img
  {
    border-radius: 8px;

  }
  header #h_image
{
    width: 300px;
    margin-right: 30px;
    margin-top: 25px;
    margin-left: 60px;
}
header #h_imagen
{
  ancho maximo:100%;
  altura: auto;
}

}




  .social {
  position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
  left: 0; /* Establecemos la barra en la izquierda */
  top: 200px; /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

  .social ul {
    list-style: none;
  }

  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }

  .social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-googleplus {background: #d95232;}
  .social ul li .icon-mail {background: #666666;}

  .social ul li a:hover {
    background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  }
  
